// colors to assign
.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.color-blue {
  color: $color-highlight-blue;
}

.color-grey-1 {
  color: $color-grey-1;
}

.color-grey-2 {
  color: $color-grey-2;
}

.color-grey-3 {
  color: $color-grey-3;
}
