<article class="c-case-card" href="{{cases[case].link}}">
  <header class="case-card__header">
    <h3 class="case-card__header__heading">{{ cases[case].title }}</h3>
    <p class="case-card__header__text">{{ cases[case].tag }}</p>
  </header>
  <img class="case-card__img" src="http://acceptatie.activecollective.nl/assets/img/{{cases[case].img.src}}.jpg" alt="{{cases[case].img.alt}}" width="{{cases[case].img.width}}"
    height="{{cases[case].img.height}}">
  <a class="case-card__cta" href="{{cases[case].link}}">Bekijk case</a>
</article>