<section class="c-raymond">
  <div class="raymond__content">
    <h2 class="raymond__content__heading">Benieuwd wat wij voor uw organisatie kunnen betekenen? Vraag het <span
        class="raymond__content__heading__name">Raymond.</span></h2>
    <article class="raymond__content__info">
      <p class="raymond__content__info__title">Strateeg digitale innovatie</p>
      <address class="raymond__content__info__address">
        <a href="tel:+31613314780">0613314780</a>
        <a href="mailto:raymondmartens@activecollective.nl">raymondmartens@activecollective.nl</a>
        <a href="linkedin.com/in/raymondmartens">linkedin.com/in/raymondmartens</a>
      </address>
    </article>
  </div>
  <img class="raymond__img" src="http://acceptatie.activecollective.nl/assets/img/{{images.team.raymond.src}}.jpg" alt="{{images.team.raymond.alt}}" width="{{images.team.raymond.width}}"
    height="{{images.team.raymond.height}}">
</section>
