.careers {
  .c-vacatures__heading {
    color: $color-grey-1;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  .c-vacatures {
    // min-width: 100%;
    width: 100%;
    max-width: 709px;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
