.c-articles {
  display: grid;
  grid-gap: 1.75rem;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  width: 100%;
  max-width: 1075px;
  height: auto;
  margin-bottom: 0;
}

.Home .c-articles {
  order: 2;
  grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
}

// TYPOGRAPHY
.article__header {
  .article__header__tag {
    order: 1;
    color: $color-highlight-blue;
    /* text-shadow: 1px 1px 1px #000; */
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    max-width: 90%;
    margin-bottom: 0.5rem;
  }

  .article__header__cta {
    order: 2;
    color: $color-grey-1;
    font-weight: bold;
    line-height: 27px;

    .article__header__heading {
      color: $color-grey-1;
      font-size: $inuit-font-size-h4;
      line-height: 26.86px;
      max-width: 90%;

      &::after {
        content: "⭢";
        font-size: 2rem;
        vertical-align: middle;
        margin-left: 0.5rem;
      }
    }
  }
}

.Nieuws {
  .c-maatwerk-oplossingen-cases {
    .cases-wrapper {
      .c-articles {
        display: flex;
        flex-direction: column;

        .c-article {
          &:first-child {
            .article__header {
              bottom: 2rem;
            }
          }

          .article__header {
            display: flex;
            flex-direction: column;
          }

          .article__header__cta,
          .article__header__heading {
            order: 2;
            bottom: 0;
            min-width: 100%;
            width: 100%;
            max-width: 100%;
            position: unset
          }

          .article__header__tag {
            order: 1;
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
}


.Home .article__header .article__header__cta .article__header__heading {
  color: $color-grey-1;
}

.Home .c-articles {
  margin-bottom: 80px; 
}

.c-other-articles {
  .c-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.Nieuws {
  .article__header__heading {
    font-size: 28px;
    line-height: 36px;
    color: #313131;
  }
}

@media screen and (min-width: 600px) {
  .Nieuws {
    .c-maatwerk-oplossingen-cases .cases-wrapper {
      .c-articles {
        display: grid;
      }
    }
  }
}

@media screen and (max-width: 635px) {
  .c-articles, .c-other-articles .c-articles {
    grid-template-columns: 1fr;

    .article__img {
      max-width: 100%;
    }
  }

  .Home .c-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
}
