.c-raymond {
  background-color: $color-black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1075px;
  height: auto;
  margin: 0 0 7rem 0;
}

.raymond__img {
  padding: 0;
  margin: 0;
  height: auto;
  object-fit: cover;
}

.raymond__content {
  padding: 4rem 2rem 2rem 4rem;
}

.raymond__content__heading {
  min-width: 100%;
  max-width: 50rem;
  margin-bottom: 2rem;
}

.raymond__content__heading__name {
  color: $color-highlight-blue;
}

.raymond__content__info__title {
  margin: 0;
}

.raymond__content__info__address {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .c-raymond {
    flex-direction: column;
    height: auto;
    max-height: fit-content;
    padding-bottom: 3.5rem;
    margin-bottom: 3.5rem;
  }

  .raymond__img {
    order: 1;
    object-fit: cover;
    object-position: top;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: 15rem;
    margin-bottom: 2rem;
  }

  .raymond__content {
    order: 2;
    max-width: 100%;
    padding: 1rem;
  }

  .raymond__content__heading {
    font-size: 22px;
    line-height: 27px;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .c-raymond {
    flex-direction: row;
    height: auto;
    max-height: fit-content;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }

  .raymond__img {
    object-fit: cover;
    object-position: top;
    // min-width: 100%;
    // width: 100%;
    max-width: 40%;
  }

  .raymond__content {
    max-width: 100%;
    padding: 4rem 2rem;
  }

  .raymond__content__heading {
    font-size: 22px;
    line-height: 27px;
  }
}

@media screen and (min-width: 1230px) {
  .c-raymond {
    height: 336px;
  }
}

// TYPOGRAPHY
.raymond__content__heading {
  font-size: 28px;
  line-height: 36px;
}

.raymond__content__info__title {
  color: $color-white;
  font-size: 18px;
  line-height: 28px;
}

.raymond__content__info__address {
  a {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
  }
}
