---
layout: templates/_detailPage.html
title: Industries
breadcrumbs: [{ name: "Home", link: "/" }, { name: "Industries", link: "/industries/"}]
pageHeaderStripe: 'add'
pageName: 'Industries'
pageTitle: Industries
pageTitleMobile: Industries
pageDescription: Samen werken aan een betere, slimmere toekomst door middel van design.
pageDescriptionMobile: Samen werken aan een betere, slimmere toekomst door middel van design.
pageCallToAction: {
text: "Neem contact met ons op",
link: "/contact/"}

---
<section class="c-lists">
  {% include "organisms/_lists.html" %}
  {% include "atoms/_pageContentImage.html" %}
</section>
{% include "organisms/_maatwerkOplossingen.html" %}
