---
layout: templates/_detailPage.html
title: 'About'
pageName: 'About'
breadcrumbs: [{ name: "Home", link: "/" }, { name: "About", link: "/about/"}]
pageHeaderStripe: 'add'
pageTitle: 'Nieuwsgierigheid brengt ons verder'
pageTitleMobile: 'Nieuwsgierigheid brengt ons verder'

pageDescription: 'Meedenken en oplossingen verzinnen zit in ons DNA. We zijn nieuwsgierig. Veel opdrachten krijgen we
omdat we luisteren en ons graag open en eager opstellen. Soms zeggen we nee, want niet iedere opdracht past bij ons.
Maar dat weten we natuurlijk pas nadat we nieuwsgierig zijn geweest…'
pageDescriptionMobile: 'Meedenken en oplossingen verzinnen zit in ons DNA. We zijn nieuwsgierig. Veel opdrachten krijgen we
omdat we luisteren en ons graag open en eager opstellen. Soms zeggen we nee, want niet iedere opdracht past bij ons.
Maar dat weten we natuurlijk pas nadat we nieuwsgierig zijn geweest…'
---
<section class="c-team-photos">
  {% include "molecules/_teamPhotos.html" %}
</section>
<h2 class="u-text-invisible">Manifesto</h2>
<div class="backgroundColorBlack">
<section class="c-lists">
  {% include "organisms/_lists.html" %}
</section>
</div>
{% include "molecules/_partners.html" %}
