---
layout: templates/_detailPage.html
title: Careers
breadcrumbs: [{ name: "Home", link: "/" }, { name: "Careers", link: "/careers/"}]
logoColorSwitch: 'true'
pageHeaderStripe: 'add'
pageName: 'Careers'
pageTitle: Klaar voor een nieuwe uitdaging?
pageTitleMobile: Klaar voor een nieuwe uitdaging?
---
<section class="c-content">
  <p class="content__text">Active Collective is een digitaal productiebedrijf bestaande uit creatieve developers, ontwerpers en jong talent,
    gericht op het ontwerpen, valideren en ontwikkelen van digitale oplossingen. Dit doen we door creatieve
    technologieën te ontwikkelen en toe te passen. We kijken zo breed mogelijk om de beste oplossingen te vinden. Altijd
    in nauwe co-creatie met onze partners en met oog op blije eindgebruikers.</p>
  <blockquote class="content__quote">
    <p class="content__quote__text"><span class="content__quote__text__mark">“</span>Je bouwt de meest bizarre dingen; elke dag is anders. Soms ontvang ik een onmogelijke R&D-taak maar
      bij AC zeggen we nooit nee. Dus wanneer het nieuwe product wordt gelanceerd, ben je trots wanneer ‘jouw ding’
      online gaat voor duizenden gebruikers.</p>
  </blockquote>
  <p class="content__text">Binnen vrijwel al onze projecten streven wij ernaar om sociale impact te creëren of vergroten door wetenschap en
    technologische innovatie te combineren. Zo hebben we onlangs een digitale oplossing ontwikkeld in samenwerking met
    een team van neurochirurgen; met twee SpinAwards tot gevolg. Jouw hulp kunnen we goed gebruiken om door te groeien
    naar meer successen.</p>
</section>
{% include "atoms/_pageContentVideo.html" %}
<section class="c-vacatures">
  <h2 class="c-vacatures__heading">Vacatures</h2>
  {% include "organisms/_lists.html" %}
</section>
